#examples .panel-group .panel {
    margin-top: 3px;
    margin-bottom: 1em;
}

#examples .panel-group .panel .panel-heading {
    background-color: #eee;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 22px;
}

#examples .panel-group .panel .panel-heading a:focus, a:hover {
    text-decoration: none;
}

#examples .panel-group .panel .panel-body {
    padding: 0;
}

#examples .panel-group .panel .panel-body .list_container {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

#examples .panel-group .panel .panel-body .list_container .list_item {
    border-bottom: 1px solid #ddd;
}

#examples .panel-group .panel .panel-body .list_container .list_item:last-child {
    border-bottom: 0px;
}

#examples .example-notebooks .list_item {
    background-color: inherit !important;
}

#examples .example-notebooks .list_item:hover {
    background-color: #ddd !important;
}

#examples .example-notebooks .list_item:first-child:hover {
    background-color: inherit !important;
}

#examples .list_item {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 22px;
}

#examples .list_item > div {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#examples .item_status {
    text-align: right;
}

#examples .item_summary {
    color: #bbb;
    margin-left: 10px;
}

#examples .item_status .btn {
    min-width: 13ex;
}

#validation-message p {
    margin-bottom: 1em;
    padding-top: 1em;
}

#validation-message pre {
    margin-left: 1em;
    margin-right: 1em;
}
